.todoapp {
   
}
.header {
    
}
.logo {
    height: 50px;
    font-weight: 100;
    font-size: 100px;
    color: #1a1a00;
    margin-top: 0;
}
.text-in {
    margin-top: -10px;
    width: 15%;
    padding: 10px;
}
.todo-list {
    list-style: none;
}
.item-list {
    width: 17%;
    margin-left: -40px;
}
.delete-todo {
    float: right;
}
.check-todo {
   
}
